<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <h1>
        <a class="title">WHG</a>
      </h1>
      <ul class="nav justify-content-center" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="newGames">New Games</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="Slots">Slots</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="Live">Live</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="Blackjack">Blackjack</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="Roulette">Roulette</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="Table">Table</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="Poker">Poker</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="Other">Other</a></li>
      </ul>
  </div>
</nav>
